<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/images/logo/logo_white.png" alt="Kings Club Logo">
            </a>
        </div>
        <div class="nav-links">
            <a href="/">国王俱乐部</a>
            <a href="/about">关于我们</a>
            <a href="/contact">联系我们</a>
            <div class="lang-toggle" id="langToggle">
                <span>中</span>
                <span>EN</span>
            </div>
        </div>
    </div>
</nav> 